/* Stili generali del bottone */
.button {
    -fx-background-color: #E0F7FA;
    -fx-background-radius: 15px;    /* Arrotondamento dello sfondo */
    -fx-border-color: #1F4F83;      /* Colore del bordo */
    -fx-border-width: 2px;          /* Spessore del bordo */
    -fx-border-radius: 15px;        /* Arrotondamento del bordo */
    -fx-border-insets: 1px;         /* Distanza tra il contenuto e il bordo */
    -fx-padding: 0px;               /* Spazio interno */
}

/* Stile quando il mouse è sopra (hover) */
.button:hover {
    -fx-background-color: #B2EBF2; /* Cambia il colore dello sfondo quando il mouse è sopra */
}

/* Stile quando il bottone è premuto */
.button:pressed {
    -fx-background-color: #80DEEA; /* Colore quando il bottone è premuto */
}

/* Stile personalizzato per il bottone di logout */
#logoutButton {
    -fx-background-color: transparent;  /* Sfondo trasparente */
    -fx-border-color: transparent;      /* Bordo trasparente */
    -fx-padding: 0px;                   /* Spazio interno */
}

/* Stile per la linea orizzontale dei pulsanti con icona */
.rectangle-indicator {
    -fx-fill: #E0F7FA;                    /* Colore di riempimento */
    -fx-arc-width: 7px;                   /* Arrotondamento orizzontale */
    -fx-arc-height: 7px;                  /* Arrotondamento verticale */
    -fx-transition: all 0.3s ease-in-out; /* Animazione di transizione */
}