/* text-field settings in login page */
.text-field {
  -fx-font-family: "Abyssinica SIL";                                /* Tipo di font */
  -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%); /* Colore del testo di suggerimento */
  -fx-font-size: 16px;                                              /* Dimensione del font */
}

/* password-field settings in login page */
.password-field {
  -fx-font-family: "Abyssinica SIL";                                /* Tipo di font */
  -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%); /* Colore del testo di suggerimento */
  -fx-font-style: normal;                                           /* Stile del font */
  -fx-font-size: 16px;                                              /* Dimensione del font */
}

/* Rimuove il bordo di un TextField */
#plainPasswordField {
  -fx-border-width: 0;                 /* Rimuove il bordo */
  -fx-background-color: transparent;   /* Imposta lo sfondo come trasparente (facoltativo) */
  -fx-focus-color: transparent;        /* Rimuove il bordo di focus (quando cliccato) */
  -fx-faint-focus-color: transparent;  /* Rimuove il bordo di focus sfocato */
}

/* Imposta il bordo di un TextField come dei pallini piccoli */
#palliniPasswordField {
  -fx-font-size: 8px;                  /* Dimensione dei pallini ridotta */
  -fx-border-width: 0;                 /* Rimuove il bordo */
  -fx-background-color: transparent;   /* Imposta lo sfondo come trasparente (facoltativo) */
  -fx-focus-color: transparent;        /* Rimuove il bordo di focus (quando cliccato) */
  -fx-faint-focus-color: transparent;  /* Rimuove il bordo di focus sfocato */
}

/* login button base settings*/
#loginButton {
  -fx-background-color: #0D37A1;      /* Colore di sfondo principale (Blu scuro) */
  -fx-text-fill: white;               /* Colore del testo (bianco) */
  -fx-pref-width: 200;                /* Larghezza preferita */
  -fx-pref-height: 30;                /* Altezza preferita */
  -fx-font-size: 16px;                /* Dimensione del font */
  -fx-font-family: "Abyssinica SIL";  /* Tipo di font */
  -fx-padding: 5px 10px;              /* Padding (spazio interno) */
  -fx-background-radius: 5px;         /* Arrotondamento dello sfondo */
  -fx-border-color: #0B2C91;          /* Colore del bordo (Blu ancora più scuro) */
  -fx-border-radius: 5px;             /* Arrotondamento del bordo */
  -fx-border-width: 2px;              /* Spessore del bordo */
}

/* Stile quando il mouse è sopra (hover) */
#loginButton:hover {
  -fx-background-color: #0B2C91;  /* Blu più scuro durante l'hover */
  -fx-border-color: #081B73;      /* Cambia il colore del bordo a un blu ancora più profondo */
  -fx-cursor: hand;               /* Cambia il cursore a una mano */
}

/* Stile quando il Button è premuto */
#loginButton:pressed {
  -fx-background-color: #081B73;                                   /* Colore ancora più scuro quando viene premuto */
  -fx-border-color: #060E54;                                       /* Colore del bordo ancora più scuro */
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 1);  /* Ombra */
}

/* toggle button base settings */
#toggleButton {
  -fx-background-color: transparent; /* Rende lo sfondo trasparente */
  -fx-border-color: transparent;     /* Rimuove il bordo */
  -fx-padding: 0;                    /* Rimuove il padding interno */
  -fx-focus-color: transparent;      /* Rimuove il colore del focus */
  -fx-faint-focus-color: transparent;/* Rimuove il colore del focus più chiaro */
}

#toggleButton:hover {
  -fx-background-color: rgba(0, 0, 0, 0.1); /* Colore di sfondo leggero in hover */
  -fx-cursor: hand;                         /* Cambia il cursore a una mano */
}

